
<div class="navbar">
        <span class='nav-logo'><%= link_to image_tag('pitchr_text_alt.png')%>
        <label for="toggle">&#9776;</label>
        <input type="checkbox" id="toggle"/>
        <span class="nav-links">
            <a><%= link_to "Home", root_path %></a>
            <a><%= link_to "About", pages_about_path %></a>
            <a><%= link_to "Projects", root_path %></a>
            <% if user_signed_in? %>
            <a> Welcome <strong><%= current_user.email %></strong></a>
            <a><%= link_to "Logout", destroy_user_session_path, method: :delete %></a>
            <% else %>
            <a><%= link_to "Sign up", new_user_registration_path  %></a>
            <a><%= link_to "Login", new_user_session_path  %></a>
            <% end %>
        </span>
</div>
