



<div class="nav">

        <i class="logo">
            <%= link_to image_tag('pitchr_text_alt.png'), root_path %>
        </i>

        <ul class="menu" id="app-nav-menu">
        
            <li>
                    <%= link_to "Home", root_path %>
            </li>

            <li>
                    <%= link_to "About", pages_about_path %>
                
            </li>

            <li>
                    <%= link_to "Projects", root_path %>
            </li>
            
            <% if user_signed_in? %>

            <li>
                    <%= link_to "Profile", root_path %>
            </li>

            <li>
                    <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
            </li>

            <% else %>

            <li>
                    <%= link_to "Login", new_user_session_path %>
            </li>

            <li>
                
                    <%= link_to "Signup", new_user_registration_path  %>
                 
            </li>

            <% end %>
        
         </ul>

    
        <div class="burger-menu">

                <input type="checkbox" id="burger-toggle" class="burger-toggle">
                
                <label for="burger-toggle" class="burger-style">
                &#9776;
                </label>
                
                <ul class="burger-ul">
                        <label for="burger-toggle">
                        <li>
                                <%= link_to "Home", root_path %>
                        </li>

                        <li>
                                <%= link_to "About", pages_about_path %>
                        
                        </li>

                        <li>
                                <%= link_to "Projects", root_path %>
                        </li>
                        

                                <% if user_signed_in? %>

                        <li>
                                <%= link_to "Profile", root_path %>
                        </li>

                        <li>
                                <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
                        </li>
                                <% else %>
                        <li>
                                <%= link_to "Login", new_user_session_path %>
                        </li>

                        <li>
                        
                                <%= link_to "Signup", new_user_registration_path  %>
                        
                        </li>
                                <% end %>
                        </label>
                </ul>
                
        </div>
        
</div>
